.collapse-nav-container {
    height: 20%;
    width: 30%;
    background-color: rgb(18, 18, 18);
    color: white;
    display: flex;
    padding: 1%;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    font-family: "orbital", sans-serif;
    font-weight: 700;
    font-style: normal;
}

@media screen and (min-width: 769px) {
    .collapse-nav-container {
        display: none;
    }
}